:root {
    --main-background-color: #f5f5f5;
    --main-font-color: #252525;
    --main-font: "Source Sans 3", sans-serif;
    --main-font-size: 14px;
    --main-line-height: 1.5;
    --main-font-weight: 400;
    --main-link-color: #000000;
    --main-link-font-weight: 500;
    --main-border-color: #dddddd;
    --main-accent-border-color: #222222;

    --label-font-size: 16px;
    --label-font-weight: 500;
    --label-font-color: #000000;

    --headline-font-size: 20px;
    --headline-font-weight: 600;
    --headline-font-color: #000000;

    --sidebar-background-color: #272727;
    --sidebar-font-color: #8c8c8c;
    --sidebar-link-color: #ffffff;
    --sidebar-accent-background-color: #323232;

    --button-background-color: #0042ac;
    --button-font-color: #ffffff;
    --button-unclickable-background-color: #4c4c4c;
    --button-clicked-background-color: #00ac25;

    --topbar-background-color: #eaeaea;
    --topbar-font-color: #000000;

    --box-background-color: #ffffff;
    --box-accent-background-color: #f3f3f3;
    --box-shadow: 0px 1px 4px -1px #dddddd;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    margin: 0;
    font-family:  var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-height);
    word-wrap: break-word;
}

a {
    color: var(--main-link-color);
    font-weight: var(--main-link-font-weight);
    transition: all 0.2s;
}

.profile-layout {
    display: flex;
}

/* left sidebar */

#sidebar {
    position: sticky;
    flex-shrink: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-font-color);
    padding: 10px;
}

#sidebar a {
    color: var(--sidebar-link-color);
    text-decoration: none;
}

.bio-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--sidebar-accent-background-color);
    padding: 10px;
    border-radius: 5px;
}

.bio-avatar {
    line-height: 0;
}

.bio-avatar img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.bio-info {
    flex: 1;       
    min-width: 0;  
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bio-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-public-profile-button {
    background-color: var(--button-background-color);
    color: var(--button-font-color)!important;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
}

.follow-button {
    background-color: var(--button-background-color);
    color: var(--button-font-color)!important;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-unclickable {
    background-color: var(--button-unclickable-background-color);
    color: var(--sidebar-font-color)!important;
    cursor: default!important;
}

.button-clicked {
    background-color: var(--button-clicked-background-color);
}

.bio-nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bio-nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--sidebar-font-color)!important;
    padding: 10px;
    border-radius: 5px;
}

.bio-nav .nav-label {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bio-nav ph {
    color: var(--sidebar-font-color);
}

.bio-nav a:hover {
    background-color: var(--sidebar-accent-background-color);
    color: var(--sidebar-link-color)!important;
}

.bio-nav .nav-link-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    color: var(--sidebar-font-color)!important;
    padding: 10px;
    cursor: pointer;
    font: inherit;              
    text-align: left;         
    border: none;
    border-radius: 5px;  
    transition: all 0.2s;
}

.bio-nav .nav-link-button:hover {
    background-color: var(--sidebar-accent-background-color);
    color: var(--sidebar-link-color)!important;
}

/* right content */

#right-content {
    flex: 1;
}

#topbar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--topbar-background-color);
    color: var(--topbar-font-color);
    padding: 5px 10px;
}

#topbar a {
    color: var(--topbar-font-color);
    text-decoration: none;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 50px;
} 

.stalker-stalked {
    display: flex;
    gap: 50px;
}

.stalked-section,
.stalkers-section {
    flex: 1;
    background-color: var(--box-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.connections-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    gap: 10px;
    margin-top: 10px;
}

.avatar-grid a, a.medium-avatar {
    line-height: 0;
}

.connections-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.connections-list > .connections-row:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-border-color);
}

.connections-info {
    display: flex;
    flex-direction: column;
}

.small-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.medium-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--headline-font-color);
    font-size: var(--headline-font-size);
    font-weight: var(--headline-font-weight);
}

.edit-section {
    margin-top: 20px;
}

.edit-section a {
    background-color: var(--button-background-color);
    color: var(--button-font-color)!important;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.connections-row .remove-button {
    background-color: var(--button-background-color);
    color: var(--button-font-color)!important;
    margin-left: auto;
    padding: 5px 30px;
    font-weight: var(--main-link-font-weight);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* add a title */

.add-title-container {
    flex: 1;
    background-color: var(--box-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.add-title-form .form-layout {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 10px;
}

.add-title-form .preview-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: var(--box-accent-background-color);
    border-radius: 5px;
    overflow: hidden;
}

.add-title-form .preview-box img {
    height: 450px;
    object-fit: cover;
}

.add-title-form .preview-box img.rotated {
    transform: rotate(-90deg);
    height: 300px;
}

.add-title-form .form-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-title-form .form-group {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.add-title-form .form-row-two {
  display: flex;
  gap: 20px;
}

.form-group label {
    color: var(--label-font-color);
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
}

.form-group select, .form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    outline: none;
}

.form-group select:focus, .form-group input:focus, .form-group textarea:focus {
    border: 1px solid var(--main-accent-border-color);
}

.form-group textarea {
    resize: none;
}

.create-title-button {
    width: fit-content;
    background-color: var(--button-background-color);
    color: var(--button-font-color)!important;
    padding: 15px 30px;
    font-weight: var(--main-link-font-weight);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-error {
    color: red;
}